@layer reset {
  /* More handy box model */
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    margin: 0;
    padding: 0;
  }

  /* Improve focus styles */
  :focus-visible {
    outline-offset: 3px;
  }

  /* Avoid overflow caused by embedded content */
  :where(audio, iframe, img, svg, video, canvas) {
    display: block;
    max-inline-size: 100%;
    max-block-size: 100%;
  }

  :where(video) {
    aspect-ratio: 16/9;
  }

  /* Prevent fieldsets from causing overflow */
  :where(fieldset) {
    min-inline-size: 0;
  }

  /* Increase the block-size of textareas */
  :where(textarea:not([rows])) {
    min-block-size: 6em;
  }

  /* Inherit font styling in form elements */
  :where(button, input, select, textarea) {
    font-family: inherit;
    font-size: inherit;
    color: currentcolor;
    letter-spacing: inherit;
  }

  /* Improve table styling */
  :where(table) {
    border-collapse: collapse;
    border: 1px solid;
  }

  :where(th, td) {
    padding: 0.25em 0.5em;
    border: 1px solid;
  }

  /* Impove text rendering defaults */
  :where(html) {
    scrollbar-gutter: stable;
    text-size-adjust: none;
  }

  :where(body) {
    line-height: 1.5;
    hanging-punctuation: first allow-end last;

    -webkit-font-smoothing: antialiased;
  }

  /** Other helpful defaults **/

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  :where(html, body, #root) {
    margin: 0;
    padding: 0;
  }

  :where(#root) {
    isolation: isolate;
  }

  :where(ul[role="list"]),
  :where(ol[role="list"]) {
    list-style: none;
  }

  /* Balance text wrapping on headings */
  :where(h1, h2, h3, h4, h5, h6) {
    text-wrap: balance;
  }

  /* Balance text wrapping on paragraphs */
  :where(p) {
    text-wrap: pretty;
  }

  /* Avoid text overflows */
  :where(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
  }

  /* Animate to auto and others */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
}
