@import url("~/styles/media.css");

.card {
  padding: var(--padding);
  background: var(--color-surface);

  &:hover,
  &:focus-visible {
    color: var(--color-surface);
    color-scheme: dark;
    background: var(--color-primary);
  }

  :global([data-theme="dark"]) & {
    color-scheme: dark;
  }

  :global([data-theme="dark"]) &:hover,
  :global([data-theme="dark"]) &:focus-visible {
    color-scheme: light;
  }

  @media (--motion) {
    transition:
      background 0.15s,
      color 0.15s;
  }

  @media (--tablets) {
    padding: var(--padding-double);
  }
}
